# Python 编译缓存
__pycache__/
*.pyc
*.pyo
*.pyd

# 前端
web/node_modules/
web/dist/
web/build/
web/.cache/
web/*.log

# 虚拟环境
.venv/
env/
venv/

# IDE 配置
.idea/
.vscode/

# 数据库文件
*.db
*.sqlite3

# 日志文件
*.log

# 操作系统生成的文件
.DS_Store
Thumbs.db

# 其他临时文件
*.tmp
*.bak