fastapi==0.115.6
uvicorn[standard]==0.34.0
pydantic==2.10.6
loguru==0.7.3
python-multipart==0.0.20

langchain==0.2.16
langchain-core==0.2.38
langchain-community==0.2.16
langchain-text-splitters==0.2.4

chromadb
rank_bm25
sentence-transformers==3.3.1
PyMuPDF==1.25.3
python-docx==1.1.2
requests==2.32.3

ragas==0.1.9
bitsandbytes
accelerate
jieba
langchain-ollama
langchain-huggingface
evaluate
absl-py
nltk
rouge_score

unstructured[all-docs]